<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="htmx-config"
      content='{"responseHandling": [
      {"code":"200", "swap": true},
      {"code":"400", "swap": true},
      {"code":"401", "swap": true},
      {"code":"403", "swap": true},
      {"code":"404", "swap": true},
      {"code":"405", "swap": true},
      {"code":"500", "swap": true}
    ]
    }'
    />
    <title>Account Management</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <script src="/assets/htmx_2.0.4.min.js"></script>
  </head>
  <body>
    <div class="container wide">
      <header>
        <h1>Account Management</h1>
      </header>
      <main>
        <div id="email-controls" class="grid-container grid-header">
          <div class="grid-item">
            <h2>Email Addresses</h2>
          </div>
          <div class="grid-item">
            <button
              class="btn-save"
              hx-post="/api/email/add"
              hx-target="#email-message-area"
              hx-swap="innerHTML"
              hx-disabled-elt="this"
              name="email_address"
              hx-prompt="Enter an email address to add:"
              hx-confirm="Are you sure you want to add this email address? It can be used for login and account recovery."
            >
              Add Email
              <img class="htmx-indicator" src="/assets/bars.svg" />
            </button>
          </div>
          <div class="grid-item">
            <button
              class="btn-safe"
              hx-get="/api/email/list"
              hx-target="#email-list-container"
              hx-swap="innerHTML"
              hx-disabled-elt="this"
            >
              Refresh Emails
              <img class="htmx-indicator" src="/assets/bars.svg" />
            </button>
          </div>
        </div>

        <div
          id="email-message-area"
          class="result-area"
          style="margin-bottom: 1em"
        ></div>

        <div
          id="email-list-container"
          hx-get="/api/email/list"
          hx-trigger="load, emailListChanged from:body"
          hx-swap="innerHTML"
        >
          <p>Loading email addresses...</p>
        </div>

        <div class="grid-container grid-header" id="session-controls">
          <div class="grid-item">
            <h2>Current Sessions</h2>
          </div>
          <div class="grid-item">
            <button
              class="btn-danger"
              hx-post="/api/session/terminate/all"
              hx-target="#session-list-container"
              hx-swap="innerHTML"
              hx-disabled-elt="this"
              hx-confirm="Are you sure you want to terminate all other sessions? This will not affect your current session."
            >
              Terminate All Other Sessions
              <img class="htmx-indicator" src="/assets/bars.svg" />
            </button>
          </div>
          <div class="grid-item">
            <button
              class="btn-safe"
              hx-get="/api/session/list"
              hx-target="#session-list-container"
              hx-swap="innerHTML"
              hx-disabled-elt="this"
            >
              Refresh Sessions
              <img class="htmx-indicator" src="/assets/bars.svg" />
            </button>
          </div>
        </div>

        <div
          id="session-message-area"
          class="result-area"
          style="margin-bottom: 1em"
        ></div>

        <div
          id="session-list-container"
          hx-get="/api/session/list"
          hx-trigger="load, sessionListChanged from:body"
          hx-swap="innerHTML"
        >
          <p>Loading sessions...</p>
        </div>

        <div id="password-controls" class="grid-container grid-header">
          <div class="grid-item">
            <h2>Change Password</h2>
          </div>
        </div>
        <!-- Server messages regarding password change will appear here -->
        <div
          id="password-message-area"
          class="result-area"
          style="margin-bottom: 1em"
        ></div>

        <form
          id="change-password-form"
          hx-post="/api/password/change"
          hx-target="#password-message-area"
          hx-swap="innerHTML"
          class="grid-container"
        >
          <div class="grid-item">
            <label for="current_password">Current Password:</label>
            <input
              type="password"
              id="current_password"
              name="current_password"
              required
              class="form-input"
            />
          </div>
          <div class="grid-item">
            <label for="pw">New Password:</label>
            <input
              type="password"
              id="pw"
              name="pw"
              placeholder="Password"
              hx-post="/api/password/requirements"
              hx-sync="closest form:abort"
              hx-trigger="keyup changed delay:500ms"
              hx-target="#password-requirements-output"
              autocapitalize="off"
              autocorrect="off"
              spellcheck="false"
              maxlength="512"
              minlength="12"
              required
              class="form-input"
              aria-describedby="password-requirements-output"
            />
            <!-- Password requirements will be loaded here by HTMX -->
            <div
              id="password-requirements-output"
              class="result-area"
              style="margin-top: 0.5em"
            ></div>
          </div>
          <div class="grid-item">
            <button type="submit" class="btn-save" name="change_password">
              Change Password
              <img class="htmx-indicator" src="/assets/bars.svg" />
            </button>
          </div>
        </form>
      </main>
      <footer>
        <p><a href="/logout">Log Out</a></p>
      </footer>
    </div>
  </body>
</html>
