<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="htmx-config"
      content='{"responseHandling": [
      {"code":"200", "swap": true},
      {"code":"400", "swap": true},
      {"code":"401", "swap": true},
      {"code":"403", "swap": true},
      {"code":"404", "swap": true},
      {"code":"405", "swap": true},
      {"code":"500", "swap": true}
    ]
    }'
    />
    <title>Account Management</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <script src="/assets/htmx_2.0.4.min.js"></script>
  </head>
  <body>
    <div class="container wide">
      <header>
        <h1>Account Management</h1>
      </header>
      <main>
        <div id="email-controls" class="float-right" style="margin-bottom: 1em">
          <button
            class="btn-safe"
            hx-get="/api/email/list"
            hx-target="#email-list-container"
            hx-swap="innerHTML"
            hx-disabled-elt="this"
          >
            Refresh Emails
            <img class="htmx-indicator" src="/assets/bars.svg" />
          </button>
          <button
            class="btn-save"
            hx-post="/api/email/add"
            hx-target="#email-message-area"
            hx-swap="innerHTML"
            hx-disabled-elt="this"
            name="email_address"
            hx-prompt="Enter an email address to add:"
            hx-confirm="Are you sure you want to add this email address? It can be used for login and account recovery."
          >
            Add Email
            <img class="htmx-indicator" src="/assets/bars.svg" />
          </button>
        </div>
        <h2>Email Addresses</h2>

        <div
          id="email-message-area"
          class="result-area"
          style="margin-bottom: 1em"
        ></div>

        <div
          id="email-list-container"
          hx-get="/api/email/list"
          hx-trigger="load, emailListChanged from:body"
          hx-swap="innerHTML"
        >
          <p>Loading email addresses...</p>
        </div>

        <div
          id="session-controls"
          class="float-right"
          style="margin-bottom: 1em"
        >
          <button
            class="btn-safe"
            hx-get="/api/session/list"
            hx-target="#session-list-container"
            hx-swap="innerHTML"
            hx-disabled-elt="this"
          >
            Refresh Sessions
            <img class="htmx-indicator" src="/assets/bars.svg" />
          </button>
          <button
            class="btn-danger"
            hx-post="/api/session/terminate/all"
            hx-target="#session-list-container"
            hx-swap="innerHTML"
            hx-disabled-elt="this"
            hx-confirm="Are you sure you want to terminate all other sessions? This will not affect your current session."
          >
            Terminate All Other Sessions
            <img class="htmx-indicator" src="/assets/bars.svg" />
          </button>
        </div>
        <h2>Current Sessions</h2>

        <div
          id="session-message-area"
          class="result-area"
          style="margin-bottom: 1em"
        ></div>

        <div
          id="session-list-container"
          hx-get="/api/session/list"
          hx-trigger="load, sessionListChanged from:body"
          hx-swap="innerHTML"
        >
          <p>Loading sessions...</p>
        </div>
      </main>
      <footer>
        <p><a href="/logout">Log Out</a></p>
      </footer>
    </div>
  </body>
</html>
