<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="htmx-config"
      content='{"responseHandling": [
      {"code":"200", "swap": true},
      {"code":"400", "swap": true},
      {"code":"401", "swap": true},
      {"code":"403", "swap": true},
      {"code":"404", "swap": true},
      {"code":"405", "swap": true},
      {"code":"500", "swap": true}
    ]
    }'
    />
    <title>Update Your Password</title>
    <script src="/assets/htmx_2.0.4.min.js"></script>
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Update Your Password</h1>
      <p>
        Your password no longer meets our security requirements. Please choose a
        new, longer password to finish signing in.
      </p>
      <form
        hx-validate="true"
        hx-post="/api/db/password/upgrade"
        hx-target="#upgrade-result"
        hx-include="[name='pw']"
        hx-disabled-elt=".btn-save"
      >
        <div class="form-group">
          <label for="pw">New Password:</label>
          <input
            type="password"
            id="pw"
            name="pw"
            placeholder="New Password"
            hx-post="/api/password-requirements"
            hx-sync="closest form:abort"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#pw-checklist"
            autocapitalize="off"
            autocorrect="off"
            spellcheck="false"
            maxlength="512"
            minlength="12"
            required
          />
          <div id="pw-checklist" class="result-area">
            <h3>Password Requirements</h3>
            <ul>
              <li><strong>Must</strong> meet the minimum length</li>
              <li>Should contain a number</li>
              <li>Should contain a special character</li>
              <li>Should not be compromised</li>
            </ul>
          </div>
        </div>

        <button type="submit" class="btn-save">
          Update Password
          <img class="htmx-indicator" src="/assets/bars.svg" />
        </button>
        <div id="upgrade-result" class="result-area"></div>
      </form>
      <p class="centered-link-secondary">
        Go back to <a href="/login">Login</a>
      </p>
    </div>
  </body>
</html>
